@font-face {
    font-family: SourceSansPro;
    src: url(../assets/source-sans-pro_bold.otf);
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: SourceSansPro;
    src: url(../assets/source-sans-pro_light.otf);
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: SpinCycleOT;
    src: url(../assets/spin-cycle-ot.otf);
    font-display: swap;
}

/* ----- GENERAL ----- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h1,
h2,
h3,
a,
p {
    font-family: SourceSansPro;
    font-weight: 600;
    text-align: center;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 35px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.header .menu {
    display: flex;
    justify-content: space-between;
    width: 234px;
    height: 15px;
}

.header a {
    font-size: 12px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("./background.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1093px;
}

.hero .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    color: white;
}

.hero .title h1 {
    font-size: 120px;
}

.hero .title p {
    width: 100%;
    max-width: 250px;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 25px;
    font-weight: 700;
}

.hero .title p::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.hero .title button {
    background: #c271ff;
    border-radius: 999px;
    padding: 15px 25px;
    border: none;
    color: white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
}

.hero .pros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    margin-top: 150px;
}

.hero .pros h2 {
    font-family: SourceSansPro;
    font-weight: 300;
    font-size: 32px;
}

.purple-word {
    font-weight: 600;
    color: #c271ff;
}

.hero .peoples {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 125px;
    width: 100%;
}

.hero .peoples .people blockquote {
    font-family: SourceSansPro;
    font-weight: 400;
}

.hero .peoples .people {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
    color: white;
}

.hero .peoples .people img {
    width: 150px;
}

.hero .peoples .people h3 {
    font-family: SourceSansPro;
    font-weight: 600;
    font-size: 18px;
}

.hero .peoples .people p {
    font-family: SourceSansPro;
    font-weight: 400;
    text-align: center;
}

.part_1_testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c271ff;
    width: 100%;
    height: 392px;
}

.part_1_testimonials .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 60px 100px;
    width: 80%;
    color: white;
}

.part_1_testimonials .main img {
    width: 160px;
}

.part_1_testimonials .main blockquote {
    font-family: SourceSansPro;
    font-weight: 300;
    font-size: 22px;
    padding-bottom: 25px;
    color: white;
    text-align: left;
}

.part_1_testimonials .main .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.part_1_testimonials .main .text .name {
    font-weight: 600;
    font-size: 22px;
}

.part_1_testimonials .main .text .occupation {
    font-weight: 300;
    font-size: 22px;
    font-style: italic;
}

